<!DOCTYPE HTML>
<html>
	<head>
		<title>Consult cashback and get latest Vietcombank Euro rate</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><span>Updated at </span> <strong>{{ today }}</strong></a>
					</header>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Cashback comparator and Euro rate fetcher </h1>
							</header>
							<div class="content">
								<p>Cashback lasts for only 24H, will be updated every day. Euro rate is based on Vietcombank API</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="assets/images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Euro rate</h3>
										<p>Col 1: {{ euro_buy }} vnđ</p>
                                        <p>Col 3: {{ euro_sell }} vnđ</p>
                                        <p>EUR VCB/2: {{ euro_rate }} vnđ</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="assets/images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Cashback Marionnaud</h3>
										<p>{{ cashback_marionnaud }}%</p>
                                        <p>{{ platform_marionnaud }}</p>
                    {% for error in error_marionnaud %}
                        {% if error %}
                            <p style="color:red;">{{ error }}</p>
                        {% endif %}
                    {% endfor %}
									</header>
								</article>
								<article>
									<span class="image">
										<img src="assets/images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Cashback Sephora</h3>
										<p>{{ cashback_sephora }}%</p>
                                        <p>{{ platform_sephora }}</p>
                    {% for error in error_sephora %}
                        {% if error %}
                            <p style="color:red;">{{ error }}</p>
                        {% endif %}
                    {% endfor %}
									</header>
								</article>
								<article>
									<span class="image">
										<img src="assets/images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Cashback Lacoste</h3>
										<p>{{ cashback_lacoste }}%</p>
                                        <p>{{ platform_lacoste }}</p>
                    {% for error in error_lacoste %}
                        {% if error %}
                            <p style="color:red;">{{ error }}</p>
                        {% endif %}
                    {% endfor %}
									</header>
								</article>
								<article>
									<span class="image">
										<img src="assets/images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3>Cashback Zalando Privé</h3>
										<p>{{ cashback_zalando_prive }}%</p>
                                        <p>{{ platform_zalando_prive }}</p>
                    {% for error in error_zalando_prive %}
                        {% if error %}
                            <p style="color:red;">{{ error }}</p>
                        {% endif %}
                    {% endfor %}
									</header>
								</article>
								<article>
									<span class="image">
										<img src="assets/images/pic06.jpg" alt="" />
									</span>
									<header class="major">
									<header class="major">
										<h3>Cashback Nocibé</h3>
										<p>{{ cashback_nocibe }}%</p>
                                        <p>{{ platform_nocibe }}</p>
                    {% for error in error_nocibe %}
                        {% if error %}
                            <p style="color:red;">{{ error }}</p>
                        {% endif %}
                    {% endfor %}
									</header>
								</article>
							</section>
                    </div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Dev by Bi with love &hearts;</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>